
  body{
  background: #FFFFFF;
}

.pc-container {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 0 10px;
  margin-bottom: 10px;
}

.class-img {
  width: 50px;
  height: 50px;
  margin-right: auto;
  border-radius: 50%;
}

.pc-menu {
  display: flex;
}

.text-pc {
  margin-left: 5px;
  margin-right: 5px;
  color: rgb(0, 0, 0);
  text-shadow: 3px 2px 4px #444444;
  height: 40px;
  width: 150px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

.text-pc:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.mobile-logo-container {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 10px;
}

.mobile-img {
  width: 70px;
  height: 70px;
  border-radius: 20%;
  margin-left:5px;
}

.menu-mobile {
  width: 100%;
  height: 70px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: -1px 1px 5px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.menu-mobile a {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  font-weight: 450;
}

.menu-mobile a + a {
  border-left: 1px solid #e0e0e0;
}

@media only screen and (min-width: 769px) {
  .pc-container {
    display: flex;
  }
  
  .mobile-logo-container,
  .mobile-h4 {
    display: none;
  }
  .bodyimg {
    display: none;
  }
  .inline{
    display: none;
  }
  .div-thuctrang-mobile{
    display: none;
  }
  .menu-mobile {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .pc-container {
    display: none;
  }
  
  .mobile-logo-container {
    display: flex;
  }
  .header-info {
    flex-direction: column;
    margin-bottom: 17px;
  }
  .title-header{
    margin-left: 3px;
    color: #22CC00;
    font-size: 27px;
    font-weight: 600;
  }
  .des-header{
    margin-left: 5px;
    color: #000000;
    font-size: 15px;
    font-weight: 400;
  }
  .bodyimg {
    border-radius: 15px;
    width: 100%;
    height: 200px;
  }
  .inline {
    border-left: 4px solid #00CD00;
    margin-right: auto;
    margin-left: auto;
  }
  .div-thuctrang-mobile{
    display: flex;
    margin-bottom: 10px;
  }
  .menu-mobile {
    display: flex;
  }
    .hangtb {
    
    display: flex;
    }
  .thongbao {
    border-top: 4px solid #00CD00;
    border-radius: 10px;
    box-shadow: 1px 2px 4px rgb(0,0,0,0.1);
    height: 120px; 
    width: 48%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
    .button-hdn{
    box-shadow: 10px 10px 5px rgb( 0,250,0,0.1);
    width: 100px;
    height: 50px;
    background-color: #27ae60;
    border: none;
    border-radius: 15px;
    color: white;
    text-align: center;
    font-weight: 600;
    transform: translateY(0);
    
    }
   .button-hdn:hover{
   transform: translateY(-5px);
   transition: all 0.2s;
   }
    .button-video{
   box-shadow: 10px 10px 5px rgb( 0,250,0,0.1);
    width: 100px;
    height: 50px;
    background-color: white;
    border: 2px solid #27ae60;
    border-radius: 15px;
    color: #27ae60;
    text-align: center;
    font-weight: 600;
    transform: translateY(0);
    
    }
   .button-video:hover{
   transform: translateY(-5px);
   transition: all 0.2s;
   }
  .div-button{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 10px;
  }
    .des-hdn{
border-radius: 10px;
background-color: #F0fff0;
width:100%;
height: 35px;
border-left: 4px solid #2E8B57;
border-right: 4px solid #2E8B57;
display: flex;
align-items: center;
margin-bottom: 10px;
   
    }
    .giaiphap1 {
    display: flex;
    border-top: 3px solid green;
    background-color: white;
    border-radius: 10px;
    width: 48%;
    height: 90px;
    margin-right: 10px;
    text-align: center;
    align-items: center ;
    box-shadow: 2px 3px 4px rgb(0,0,0, 0.1);
  }
    .giaiphap2 {
    display: flex;
    border-top: 3px solid #FF9900;
    background-color: white;
    border-radius: 10px;
    width: 48%;
    margin-left: 10px;
    height: 90px;
    text-align: center;
    align-items: center ;
    box-shadow: 2px 3px 4px rgb(0,0,0, 0.1);}
      .giaiphap3 {
    display: flex;
    border-top: 3px solid red;
    background-color: white;
    border-radius: 10px;
    width: 48%;
    height: 90px;
    margin-right: 10px;
    text-align: center;
    align-items: center ;
    box-shadow: 2px 3px 4px rgb(0,0,0, 0.1);}
      .giaiphap4 {
    display: flex;
    border-top: 3px solid blue;
    background-color: white;
    border-radius: 10px;
    width: 48%;
    height: 90px;
    margin-left: 10px;
    text-align: center;
    align-items: center ;
    box-shadow: 2px 3px 4px rgb(0,0,0, 0.1);}
}





















